@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600&family=Poppins:wght@500;600&display=swap");

$manrope: "Manrope", sans-serif;
$poppins: "Poppins", sans-serif;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: $poppins;
  font-weight: 600;
}

h5 {
  font-family: $poppins;
  font-weight: 500;
}
p,
a {
  font-family: $poppins;
  font-size: 16px;
}
