@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600&family=Poppins:wght@300;400;500;600&display=swap");

$manrope: "Manrope", sans-serif;
$poppins: "Poppins", sans-serif;
$home-bg: #1c1e53;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
  font-family: $poppins;
}

h1,
h2,
h3 {
  font-weight: 600;
}
h5 {
  font-weight: 500;
}
a {
  font-family: $poppins;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}
p {
  font-size: 16px;
  font-family: $poppins;
  font-weight: 500;
}

@mixin widthAndmargin() {
  max-width: 80%;
  margin: 0 auto;
}

.app {
  width: 100%;
}

.navigator {
  background: $home-bg;
  max-width: 100%;
  &-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 80%;
    margin: 0 auto;
    align-items: center;
    padding: 32px 0;
  }
}

.navigator-links {
  ul {
    display: flex;
  }
  ul li {
    list-style: none;
    a {
      text-decoration: none;
      line-height: 28px;
      margin-right: 32px;
      color: #bbbbcb;
    }
  }
  &-active {
    color: #ffffff;
  }
  .contact-us {
    border: 2px solid rgba(244, 246, 252, 0.2);
    padding: 16px 32px;
    border-radius: 41px;
  }
}
.home {
  width: 100%;
  background: $home-bg;
  &-hero {
    @include widthAndmargin();
    display: flex;
    flex: 1;
    align-items: center;
    padding: 125px 0;

    &-button-container {
      display: flex;
      a {
        border: 2px solid rgba(244, 246, 252, 0.2);
        padding: 16px 56px;
        border-radius: 41px;
        display: inline-block;
        margin-top: 48px;
      }
      a:nth-child(1) {
        color: #1b1c2b;
        background: #fcd980;
        border: 2px solid #fcd980;
        margin-right: 40px;
      }
      a:nth-child(2) {
        align-items: center;
        color: #ffffff;
        border: none;
        img {
          margin-left: 10px;
          margin-top: 2px;
          display: inline-block;
        }
      }
    }
    &-text {
      flex: 0.5;
      h1 {
        font-size: 54px;
        color: #fff;
      }
      p {
        margin-top: 24px;
        line-height: 28px;
        color: rgba(255, 255, 255, 0.7);
      }
    }
    &-illustration {
      flex: 0.5;
      img {
        max-width: 100%;
        object-fit: cover;
      }
    }
  }
}

.how-we-work {
  width: 100%;
  background: #f4f6fc;
  &-container {
    @include widthAndmargin();
    display: flex;
    flex: 1;
    padding: 125px 0;
    gap: 15%;
    &-heading {
      flex: 0.3;
      h2 {
        font-size: 48px;
        color: #282938;
      }
      p {
        font-size: 16px;
        line-height: 28px;
        color: #282938;
        opacity: 0.7;
        margin-top: 16px;
      }
      a {
        font-size: 18px;
        line-height: 32px;
        color: #2405f2;
        margin-top: 16px;
        display: inline-block;
        img {
          margin-left: 10px;
          margin-top: 2px;
          display: inline-block;
        }
      }
    }
    &-cards {
      flex: 0.7;
      &-card-first,
      &-card-second {
        display: flex;
        gap: 10%;
        img {
          display: inline-block;
        }
        h5 {
          font-weight: 500;
          font-size: 32px;
          color: #282938;
          margin-top: 20px;
        }
        p {
          font-size: 16px;
          color: #282938;
          opacity: 0.7;
          margin-top: 10px;
        }
      }
      &-card-second {
        margin-top: 50px;
      }
    }
  }
}

.our-work {
  width: 100%;
  background-color: #e5e5e5;
  &-container {
    @include widthAndmargin();
    padding: 125px 0;
    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      h2 {
        font-size: 48px;
        color: #282938;
      }
      a {
        font-size: 16px;
        color: #282938;
        display: inline-block;
        img {
          margin-left: 10px;
        }
      }
    }
    &-cards {
      margin-top: 64px;
      display: flex;
      flex: 1;
      gap: 30px;
      &-left {
        display: flex;
        flex: 0.6;
        position: relative;
        &-image {
          flex: 1;
          img {
            max-width: 100%;
            object-fit: cover;
          }
        }

        &-overlay {
          position: absolute;
          width: 50%;
          height: 100%;
          display: flex;
          text-align: left;
          flex-direction: column;
          justify-content: flex-end;
          padding-left: 40px;
          padding-right: 35px;
          background: linear-gradient(
            329.39deg,
            #1c1e53 -10.96%,
            rgba(28, 30, 83, 0.42) 103.96%
          );
          h4 {
            font-weight: 600;
            font-size: 24px;
            color: #ffffff;
          }
          p {
            font-family: $poppins;
            font-size: 16px;
            font-weight: 300;
            color: #ffffff;
            opacity: 0.8;
            margin-top: 16px;
          }
          a {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            display: inline-block;
            align-items: center;
            color: #fcd980;
            margin-bottom: 75px;
            margin-top: 40px;
          }
        }
      }
      &-right {
        flex: 0.4;
        display: flex;
        gap: 20px;
        flex-direction: column;
        &-top {
          position: relative;
          &-image {
            max-width: 350px;
            object-fit: cover;

            img {
              object-fit: cover;
              max-width: 100%;
            }
          }
          &-content {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(
              329.39deg,
              #1c1e53 -10.96%,
              rgba(28, 30, 83, 0.42) 103.96%
            );
            padding: 110px 36px 0 50px;
            h3 {
              font-weight: 600;
              font-size: 24px;
              color: #ffffff;
            }
            a {
              font-size: 16px;
              display: inline-block;
              color: #fcd980;
              margin-top: 10px;
              margin-bottom: 45px;
              img {
                display: inline-block;
                margin-left: 10px;
              }
            }
          }
        }
        &-bottom {
          position: relative;
          &-image {
            max-width: 350px;
            object-fit: cover;

            img {
              object-fit: cover;
              max-width: 100%;
            }
          }
          &-content {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(
              329.39deg,
              #1c1e53 -10.96%,
              rgba(28, 30, 83, 0.42) 103.96%
            );
            padding: 110px 36px 0 50px;
            h3 {
              font-weight: 600;
              font-size: 24px;
              color: #ffffff;
            }
            a {
              font-size: 16px;
              display: inline-block;
              color: #fcd980;
              margin-top: 10px;
              margin-bottom: 45px;
              img {
                display: inline-block;
                margin-left: 10px;
              }
            }
          }
        }
      }
    }
  }
}

.features {
  width: 100%;
  background: #f4f6fc;
  &-container {
    @include widthAndmargin();
    text-align: center;
    padding: 128px 0;
    &-header-section {
      label {
        font-family: $poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 28px;
        color: #282938;
      }
      h2 {
        margin-top: 12px;
        font-weight: 600;
        font-size: 48px;
        text-align: center;
        color: #282938;
        margin: 0 20%;
      }
    }
    &-cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin-top: 47px;
      gap: 24px;

      &-card {
        display: flex;
        flex-direction: column;
        text-align: left;
        background: #fff;
        padding: 50px;
        img {
          max-width: 100%;
          object-fit: cover;
        }
        &-content {
          h6 {
            font-weight: 500;
            font-size: 24px;
            color: #282938;
            margin-top: 23px;
          }
          p {
            margin-top: 12px;
            font-size: 16px;
            line-height: 28px;
            color: #282938;
            opacity: 0.7;
          }
        }
      }
    }
  }
}

.testimonial {
  width: 100%;
  background: #f4f6fc;

  &-container {
    @include widthAndmargin();
    display: flex;
    flex: 1;
    gap: 100px;
    padding: 125px 0 100px 0;
    &-heading-section {
      flex: 0.3;
      h3 {
        font-size: 38px;
        line-height: 56px;
        color: #282938;
      }
      p {
        margin-top: 16px;
        font-size: 16px;
        line-height: 28px;
        color: #282938;
        opacity: 0.7;
      }
    }
    &-content {
      flex: 0.7;
      h5 {
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 48px;
        color: #282938;
      }
    }
    &-content-profile {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 40px;
      &-content {
        display: flex;
        img {
          object-fit: cover;
          border-radius: 50%;
          display: inline-block;
          margin-right: 10px;
        }
        label {
          font-weight: 500;
          font-size: 18px;
          color: #282938;
        }
        p {
          font-weight: 500;
          font-size: 12px;
          color: #282938;
        }
      }
      .arrow-container {
        display: flex;
        gap: 10px;
        .image-container {
          display: grid;
          place-items: center;
          width: 48px;
          height: 48px;
          padding: 13px;
          border-radius: 50%;
          &.active {
            background: #5239fa;
          }
          img {
            max-width: 100%;
          }
        }
      }
    }
  }
}
